*{
    display: inline;
    background-size: cover;

}
#box-1{
    height: 600px;
    width: 600px;
    background-image: url('bg.jpg');
    display: block;
    margin-left: 200px;
}
#box-2{
    height: 80px;
    width: 600px;
    background-color:rgb(92, 91, 91);
    display: block;
    
}
.section{
    display: flex;
    margin-top: 40px;
   
}
#box-3{
    height: 80px;
    width: 600px;
    background-color:rgb(92, 91, 91);
    display: block;
   margin-top: 35px;
    
}
#box-a{
    height: 200px;
    width: 150px;
    background-color:rgb(92, 91, 91);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url('img1.jpg');
    background-size: cover;
}
#box-b{
    height: 200px;
    width: 150px;
    background-color:rgb(92, 91, 91);
    margin-left: 10px;
    background-image: url('img2.jpg');
    background-size: cover;
}
#box-c{
    height: 200px;
    width: 150px;
    background-color:rgba(92, 91, 91);
    margin-left: 10px;
    background-image: url('img3.jpg');
    background-size: cover;
    
}
#box-d{
    height: 200px;
    width: 150px;
    background-color:rgb(92, 91, 91);
    margin-left: 10px;
    background-image: url('img4.jpg');
    background-size: cover;
}
.section-a{
    display: flex;
    margin-top: 45px;
    
}
#box-5{
    height: 200px;
    width: 150px;
    background-color:rgb(92, 91, 91);
    margin-left: 10px;
    background-image: url('img5.jpg');
    background-size: cover;
    
}
#box-6{
    height: 200px;
    width: 150px;
    background-color:rgb(92, 91, 91);
    margin-left: 10px;
    background-image: url('img6.jpg');
    background-size: cover;
    
}
#box-7{
    height: 200px;
    width: 150px;
    background-color:rgb(92, 91, 91);
    margin-left: 10px;
    background-image: url('img7.jpg');
    background-size: cover;
    
}
#box-8{
    height: 200px;
    width: 150px;
    background-color:rgb(92, 91, 91);
    margin-left: 10px;
    background-image: url('img8.jpg');
    background-size: cover;
}

